.akce{
   .hp-akce__inner{
      flex-wrap: wrap;
   }
   .hp-akce__item{
      text-align: center;
      margin-bottom: 40px;
   }
   .main__filtr{
      margin-bottom: 32px;
   }
   .form__filtr{
      margin-bottom: 16px;
   }
   &__table{
      margin-bottom: 16px;
      table{
         .nazev{
            width: 395px;
         }
         tr td{
            &:last-child{
               padding-right: 30px;
               position: relative;
               text-align: right;
               &::before{
                  content: '';
                  position: absolute;
                  right: 8px;
                  top:15px;
                  width: 11px;
                  height: 12px;
                  background-repeat: no-repeat;
                  background-image: url('../images/svg/arrow-right-solid.svg');
               }
            }
         }
         tr th,tr td{
            &:first-child{
               width: 183px;
            }
          
         }
      }
   }
}

@media(max-width:1100px){
   .akce__table table tr th:first-child, .akce__table table tr td:first-child{
      width: auto;
   }
   .akce__table table .nazev{
      width: auto;
   }
}

@media(max-width:920px){
   .akce__table{
      overflow: auto;
      table{
         width: 880px;
      }
   }
}
@media(max-width:660px){
   .akce .hp-akce__inner{
      margin-top: 0px;
      margin-bottom: 20px;
   }
   .akce .hp-akce__item{
      margin-bottom: 20px;
   }
}