.article {
  margin-top: 40px;
  p,
  ul {
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__fotogalerie {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 32px;
    flex-wrap: wrap;
  }
  &__foto {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 4px;
    height: 163px;
    position: relative;
    margin-bottom: 8px;
    &:nth-last-child(2) {
      display: none;
    }
    &:last-child {
      h4 {
        position: absolute;
        top: 60px;
        color: #fff;
        text-align: center;
        left: 0;
        right: 0;
        img {
          width: 24px;
          height: 11px;
          object-fit: contain;
          margin: 0 auto 8px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        width: 98%;
        height: 100%;
        background: linear-gradient(180deg, rgba(5, 6, 16, 0.2) 0%, #050610 100%);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.333;
    margin-bottom: 16px;
  }
  .reprezentace__item {
    float: left;
    max-width: 336px;
    width: 100%;
    padding: 0;
    margin-right: 40px;
    p {
      font-size: 0.75rem;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }
  &__comentar {
    padding-top: 35px;
    margin-bottom: 40px;
    padding-left: 35px;
    position: relative;
    margin-top: 40px;
    font-size: 1.5rem;
    line-height: 1.333;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../images/title.png');
    }
  }
  .zapas__box {
    margin-top: 40px;
  }
  .zapas__item {
    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      &:hover {
        .zapas__result {
          text-decoration: underline;
        }
      }
    }
  }
  &__content {
    padding: 0 32px;
    max-width: 70.2%;
    flex: 0 0 70.2%;
  }
  .aside {
    padding: 0 32px;
    max-width: 29.8%;
    flex: 0 0 29.8%;
  }
  &__inner {
    display: flex;
    padding: 0 72px;
    margin-left: -32px;
    margin-right: -32px;
    table {
      border: 1px solid #cdcdcf;
      box-shadow: 0px 2px 6px rgba(5, 6, 16, 0.07);
    }
  }
  p {
    margin-bottom: 32px;
    b {
      font-size: 1.25rem;
      line-height: 1.6;
    }
  }
  p {
    font-size: 1.125rem;
    line-height: 1.778;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 1.143;
    margin-bottom: 40px;
  }
  &__img {
    height: 680px;
    width: 100%;
    margin-bottom: 40px;
    img {
      object-fit: cover;
    }
  }
}

.tag__row {
  margin-left: -4px;
  margin-right: -4px;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  flex-wrap: wrap;
  max-width: 500px;

  .tag {
    margin: 0 4px 8px 4px;
  }
}

@media (max-width: 1720px) {
  .article__img {
    height: 600px;
  }
}
@media (max-width: 1440px) {
  .article__img {
    height: 560px;
  }
}
@media (max-width: 1340px) {
  .article__img {
    height: 520px;
  }
}
@media (max-width: 1140px) {
  .article__content {
    max-width: 100%;
    flex: 100%;
  }
  .article__inner {
    flex-direction: column-reverse;
    .aside {
      max-width: 100%;
      flex: 100%;
      margin-bottom: 32px;
    }
  }
}
@media (max-width: 940px) {
  .article__img {
    height: 480px;
  }
  .article h1 {
    font-size: 2.5rem;
  }
  .article__foto {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 740px) {
  .zapas__item {
    flex-wrap: wrap;
    a {
      flex-direction: column;
    }
  }
  .article__inner {
    padding: 0;

    .zapas__info p {
      align-items: start;
    }
  }
  .article {
    margin-top: 20px;
  }
  .article__img,
  .article p img {
    height: 440px;
    margin-bottom: 20px;
  }
  .article h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .article__img,
  .article p img {
    height: 330px;
  }
}
@media (max-width: 480px) {
  .article__foto {
    flex: 100%;
    max-width: 100%;
  }
  .zapas__item {
    flex-direction: column;
    text-align: center;
  }
  .zapas__info {
    margin-bottom: 8px;
  }
}
@media (max-width: 410px) {
  .article__comentar {
    padding-left: 0;
    padding-top: 0;
    font-size: 1.2rem;
    &::before {
      display: none;
    }
  }
  .article__img,
  .article p img {
    height: 270px;
  }
  .article h1 {
    font-size: 1.6rem;
  }
}
