.theme-dark{
   background: #050610;
   transition: all .4s;
  
   .hp-cast{
      .top-clanky__row{
         justify-content: start;
         .clanek{
            margin-bottom: 40px;
            a{
               height: 100%;
            }
         }
         .clanek__info{
            background: $dark-red;
            height: auto;
            padding: 16px;
            
            h3,span{
               color: #fff;
            }
         }
      }
   }
   .hp-tv,
   .timer__wrapper,
   .footer,
   .scoarboard,
   .hp-akce__item a{
      background: $dark-blue;
      transition: all .4s;
   }
   .archiv-page .clanek__info span, .archiv-page .clanek__info p,
   .hp-akce__item a h4,
   body,
   .head__list a,
   .scoarboard__tym h4{
      color: #fff;
      
   }
   .elo{
      background: rgba(#fff, .08);
   }
   .zapas-page__result,
   .reprezentace__img img,
   .hrac-page__box-info span,
   .zapas__result,
   .hp-extraliga__img,
   .scoarboard__result span{
      background: rgba(#fff, .08);
      border: 1px solid rgba(#fff, .15);
      
   }
   .scoarboard__item--after h6{
      background-color: #fff;
      color: #000;
   }
   .archiv-page .clanek__info span p{
      color: $red;
   }
   .extraliga-tabulky__item a{
      color: #000;
   }

   .main__tabs .tab,
   .jq-selectbox__select,
   .jq-selectbox__dropdown li{
      color: #000;
      &.active{
         color: $red;
      }
   }
   .header{
      border-bottom: 1px solid rgba(#fff, .15);
   }
   .head{
      justify-content: space-between;
      
   }
   .hp-tv__btn--dark,
   .scoarboard__btn--dark,
   .user-menu__item--dark{
      display: block;
   }
   .hp-tv__btn--white,
   .scoarboard__btn--white,
   .user-menu__item--white{
      display: none;
   }
   .hp-tv__btn{
      width: 40px;
      height: 40px;
   }
   .hp-tv__btnnext{
      right: 16%;
   }
   .hp-tv__btnprev{
      left: 16%;
   }
   .hp-tv__btn--dark{
      width: 40px;
      height: 40px;
      border-radius: 50%;
   }
   .scoarboard__btn{
      &:hover{
         background: #F2F2F3;
      }
   }
   .head__logo{
      svg{
         path{
            
            fill: #fff;
         }
      }

   }
}
.theme-light{
   transition: all .4s;
}