.druzstvo-page {
  .zapas__item {
    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }
  &__soupiska {
    table {
      th,
      td {
        text-align: center;

        padding: 9px 8px;
      }
      .num {
        width: 32px;
        text-align: left;
      }
      .hrac {
        width: 186px;
        text-align: left;
        font-weight: 700;
      }
      .date {
        width: 54px;
        text-align: left;
      }
      .player {
        text-align: left;
        width: 370px;
      }
      tr {
        th {
          padding-top: 8px;
        }
      }
    }
  }
  &__content {
    display: none;
    &.tab-active {
      display: block;
    }
  }
  .main__tabs {
    margin-bottom: 40px;
  }
  form {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
    flex-wrap: wrap;
    margin-bottom: 27px;
    .select {
      margin: 0 4px 8px;
    }
  }
  .oddil__box {
  }
  .oddil__box .menu-info {
    ul {
      max-width: 100%;
    }
    li {
      max-width: 33.333%;
      flex: 0 0 33.333%;
    }
  }
}
.druzstvo-herna {
  &__img {
    height: 460px;
    img {
      object-fit: cover;
    }
  }
  .menu-info {
    border-bottom: 1px solid #cdcdcf;
    padding-bottom: 13px;
    margin-bottom: 16px;
  }
  .oddil__box .menu-info {
    ul {
      max-width: 100%;
    }
    li {
      max-width: 50%;
      flex: 0 0 50%;
      padding-right: 16px;
    }
  }
  h3 {
    margin-bottom: 23px;
    padding: 0;
    font-size: 1.25rem;
    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: 1340px) {
  .druzstvo-page {
    .menu-info__links {
      align-items: flex-start;
    }
  }
  .druzstvo-page__soupiska table .player {
    width: 280px;
  }
}
@media (max-width: 1170px) {
  .druzstvo-page .oddil__box .menu-info li {
    max-width: 50%;
    flex: 0 0 50%;
    padding-right: 16px;
  }
  .druzstvo-page .oddil__box .menu-info .menu-info__herna {
    max-width: 100%;
    flex: 100%;
  }
  .druzstvo-page__soupiska table .player {
    width: auto;
  }
  .druzstvo-page__soupiska {
    overflow: auto;
    table {
      width: 1150px;
    }
  }
}
@media (max-width: 980px) {
  .druzstvo-herna {
    .oddil__img {
      margin: 0 auto 16px;
    }
    .oddil__top {
      flex-direction: column;
    }
  }
}
@media (max-width: 840px) {
  .druzstvo-page {
    .main__tabs {
      margin-bottom: 20px;
    }
    .jq-selectbox {
      max-width: 100%;
      flex: 100%;
    }
    .oddil__img {
      margin: 0 auto 16px;
    }
    .oddil__top {
      flex-direction: column;
    }
  }
  .druzstvo-page .oddil__box .menu-info li,
  .druzstvo-herna .oddil__box .menu-info li {
    max-width: 100%;
    flex: 100%;
  }
}
@media (max-width: 660px) {
  .druzstvo-herna__img {
    height: 380px;
  }
}
@media (max-width: 640px) {
  .druzstvo-page__content {
    margin-top: 8px;
  }
}
@media (max-width: 600px) {
  .druzstvo-herna,
  .druzstvo-page {
    .oddil__box .menu-info {
      text-align: left;
    }
  }
  .druzstvo-herna__img {
    height: 320px;
  }
}
@media (max-width: 480px) {
  .druzstvo-herna__img {
    height: 260px;
  }
}
