.druzstvo-page{
   &__soupiska{
      table{
         th,td{
            text-align: center;
            
            padding: 9px 8px;
         }
         .num{
            width: 32px;
            text-align: left;
         }
         .hrac{
            width: 186px;
            text-align: left;
         }
         .date{
            width: 54px;
            text-align: left;
         }
         .player{
            text-align: left;
            width: 370px;
         }
         tr{
            th{
               padding-top: 8px;
            }
         }
      }
   }
   &__content{
      display: none;
      &.tab-active{
         display: block;
      }
   }
   .main__tabs{
      margin-bottom: 40px;
   }
   form{
      display: flex;
      margin-left: -4px;
      margin-right: -4px;
      flex-wrap: wrap;
      margin-bottom: 27px;
      .select{
         margin: 0 4px 8px;
      }
   }
   .oddil__box .menu-info {
      ul{
         max-width: 100%;
      }
      li{
         max-width: 33.333%;
         flex: 0 0 33.333%;
      }
   }
}

@media(max-width:1340px){
   .druzstvo-page{
      .menu-info__links{
         align-items: flex-start;
      }
   }
   .druzstvo-page__soupiska table .player{
      width: 280px;
   }
}
@media(max-width:1170px){
   .druzstvo-page .oddil__box .menu-info li{
        max-width: 50%;
        flex: 0 0 50%;
        padding-right: 16px;
   }
   .druzstvo-page .oddil__box .menu-info .menu-info__herna{
      max-width: 100%;
      flex: 100%;
   }
   .druzstvo-page__soupiska table .player{
      width: auto;
   }
   .druzstvo-page__soupiska{
      overflow: auto;
      table{
         width: 1150px;
      }
   }
   
}
@media(max-width:840px){
   
   .druzstvo-page{
      .main__tabs{
         margin-bottom: 20px;
      }
      .jq-selectbox{
         max-width: 100%;
         flex: 100%;
      }
      .oddil__img{
         margin: 0 auto 16px;
      }
      .oddil__top{
         flex-direction: column;
      }
   }
   .druzstvo-page .oddil__box .menu-info li{
        max-width: 100%;
        flex: 100%;
   }
}
@media(max-width:600px){
   .druzstvo-page {
      .oddil__box .menu-info{
         text-align: left;
      }
   }
}