.hp-cast,
.kontakty {
  .akce-detail__downloads {
    border-bottom: none;
  }
}
.hp-cast {
  position: relative;
  padding-top: 40px;
  margin-bottom: 40px;
  .hp-akce {
    &__links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .link {
        margin: 0 4px 16px;
      }
    }
  }
  &__rozcestnik {
    h3 {
      margin: 0 auto;
      display: block;
      width: max-content;
    }
    .hp-akce__inner {
      flex-wrap: wrap;
      justify-content: center;
      .hp-akce__item {
        margin-bottom: 24px;
        min-height: 100px;
        h4 {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          color: $blue;
          width: 100%;
        }
      }
    }
  }
  &.hp-cast--category {
    .akce-detail__downloads {
      a {
        text-align: center;
        display: inline-block;
      }
    }
  }
  &__kontakty {
    text-align: center;
    padding-bottom: 32px;

    h3 {
      margin-bottom: 24px !important;
    }
    &-icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 8px;
      border-radius: 50%;
      background: linear-gradient(180deg, #f2f2f3 0%, #e6e6e7 100%);
      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }

    &-row {
      display: flex;
      margin-left: -24px;
      margin-right: -24px;
    }
    &-box {
      padding: 0 24px;
      h3 {
        margin-bottom: 24px;
      }
      .kontakty__item {
        max-width: 100%;
        flex: 100%;
      }
      .kontakty__row {
        .kontakty__item {
          max-width: 50%;
          flex: 0 0 50%;
        }
      }
    }
    h2 {
      margin-bottom: 32px;
    }
    .kontakty__item {
      p a {
        color: $red;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hp-akce__inner {
    margin-top: 20px;
  }

  &__odkazy {
    text-align: center;
    margin-bottom: 40px;
    &-item {
      border-radius: 4px;
      border: 1px solid #cdcdcf;
      box-shadow: #050610;
      background: #fff;
      width: 296px;
      padding: 16px;
      margin-bottom: 16px;
      margin-left: 8px;
      margin-right: 8px;
      h4 {
        color: $blue;
        margin-bottom: 4px;
      }
      a {
        color: $red;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-inner {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(180deg, #f2f2f3 0%, #e6e6e7 100%);
    }
    &-row {
      display: flex;
      margin-left: -8px;
      margin-right: -8px;
    }

    h3 {
      margin-bottom: 24px !important;
    }
  }
  &__odkazy-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      padding: 0 4px;
      margin-bottom: 6px;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  h1,
  h2 {
    text-align: center;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    margin: 0 auto;
  }
  .clanek {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  .top-clanky__row {
    position: inherit;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
    justify-content: start;
  }
  .clanek__info {
    background-color: #fff;
    padding: 8px 3px 0px 1px;
    h3 {
      margin-bottom: 6px;
      color: $red;
      padding: 0;
      &::before,
      &::after {
        display: none;
      }
    }
    span {
      display: block;
      color: #000;
    }
  }
  .clanek:hover .clanek__info {
    background: #fff;
    h3 {
      text-decoration: underline;
    }
  }
  .clanek__img {
    opacity: 1;
    height: 272px;
    img {
      object-fit: cover;
    }
  }
}
//
// documents
.documents {
  margin-bottom: 40px;
  &__metodika {
    margin-top: 32px;
    .documents__col {
      max-width: 100%;
      flex: 100%;
      margin-left: -16px;
      margin-right: -16px;
      .documents__wrap {
        display: flex;
        flex-wrap: wrap;
      }
      .document {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 16px 8px;
        border-top: none;
        &__title {
          border-top: 1px solid #cdcdcf;
          padding-top: 8px;
        }
      }
    }
  }
  h2 {
    margin-bottom: 32px;
  }
  &__inner {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
  &__wrap {
    margin-bottom: 27px;
  }
  &__col {
    max-width: 33.333%;
    flex: 0 0 33.333%;
    padding: 0 20px;
    text-align: center;

    .select {
      margin: 0 auto 23px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }
}

.document {
  display: block;
  padding: 8px 0;
  border-top: 1px solid #cdcdcf;
  &:last-child {
    border-bottom: 1px solid #cdcdcf;
  }
  &:hover {
    p {
      text-decoration: underline;
    }
  }
  span {
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: left;
    display: block;
    padding: 0 28px;
  }
  &__title {
    display: flex;
    color: $red;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 5px;
    i {
      margin-right: 8px;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.571;
      text-align: left;
    }
  }
}
.hp-cast__odkazy-menu li a {
  text-decoration: none !important;
}
.hp-cast__odkazy-main {
  width: 100%;
  margin-bottom: 32px !important;
  display: block;
}

.hp-cast__message {
  border: 1px solid #cdcdcf;
  border-radius: 4px;
  padding: 14px 16px 15px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  p {
    padding-right: 16px;
    width: fit-content;
  }
  &.hp-cast__message-off {
    display: none;
  }
  span {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url('../images/svg/delete-circled-outline.svg');
  }
}

.hp-zebricky {
  text-align: center;
  h3 {
    margin: 0 auto 20px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    margin: 0 auto 8px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #f2f2f3 0%, #e6e6e7 100%);
    img {
      width: 30px;
      height: 30px;
    }
  }
  &__item {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 20px;
    margin-bottom: 40px;
    p {
      font-size: 0.75rem;
      line-height: 1.5;
      a {
        border: none;
        padding: 0;
        height: auto;
        width: auto;
        display: inline-block;
      }
    }
    h4 {
      color: $blue;
    }

    a,
    .hp-zebricky__box {
      display: block;
      width: 100%;
      height: 100%;
      padding: 16px;
      border-radius: 4px;
      border: 1px solid #cdcdcf;
    }
  }
}

.hp-cast__kontakty {
  border-bottom: 1px solid #cdcdcf;
  .hp-extraliga__col {
    &:hover {
      h4,
      p {
        text-decoration: none;
      }
    }
    &::before {
      background-size: contain;
      height: 100%;
    }
    a {
      text-decoration: underline;
      color: $red;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// media
@media (max-width: 980px) {
  .hp-cast__odkazy-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hp-cast .top-clanky__row {
    width: auto;
  }
}
@media (max-width: 940px) {
  .hp-zebricky__inner {
    margin-left: -10px;
    margin-right: -10px;
  }
  .hp-zebricky__item {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .hp-cast__kontakty-box {
    max-width: 50%;
    margin: 0 auto;
    flex: 0 0 50%;
  }
  .hp-cast__kontakty-box .kontakty__row .kontakty__item {
    max-width: 100%;
    flex: 100%;
  }
  .hp-cast {
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  .documents__inner {
    flex-wrap: wrap;
    max-width: 640px;
    margin: 0 auto;
  }
  .documents__metodika .documents__col .documents__wrap {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .documents__metodika .documents__col {
    margin: 0;
  }
  .documents__col {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .documents__metodika .documents__col .document {
    flex: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 840px) {
  .hp-cast__odkazy-inner {
    padding: 40px 20px 20px;
  }
  .hp-zebricky__item {
    max-width: 50%;
    flex: 0 50%;
  }
  .hp-zebricky__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hp-cast__kontakty .hp-extraliga__col::before {
    height: 16px;
    width: 253px;
    background-size: contain;
  }
}
@media (max-width: 820px) {
  .hp-cast .clanek {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 660px) {
  .hp-cast__rozcestnik .hp-akce__inner .hp-akce__item {
    margin-bottom: 16px;
  }
}

@media (max-width: 620px) {
  .hp-cast__odkazy-item {
    width: 100%;
  }
  .hp-cast__kontakty-row {
    flex-wrap: wrap;
  }
  .hp-cast__kontakty-box {
    max-width: 100%;
    flex: 100%;
    .kontakty__row {
      margin: 0;
    }
  }
  .hp-zebricky__item {
    max-width: 100%;
    flex: 100%;
  }
  .hp-cast .clanek {
    max-width: 100%;
    flex: 100%;
    a {
      width: 100%;
    }
  }
}
@media (max-width: 440px) {
  .documents__metodika .documents__col .documents__wrap,
  .documents__col {
    padding: 0;
  }
}
