.hp-cast {
  position: relative;
  padding-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid RGB(205, 205, 207);
  &__kontakty {
    border-bottom: 1px solid RGB(205, 205, 207);
    padding-bottom: 32px;
    h2 {
      text-align: center;
    }
    &-row {
      display: flex;
      margin-left: -24px;
      margin-right: -24px;
    }
    &-box {
      padding: 0 24px;
      h3 {
        margin-bottom: 24px;
      }
      .kontakty__item {
        max-width: 100%;
        flex: 100%;
      }
      .kontakty__row {
        .kontakty__item {
          max-width: 50%;
          flex: 0 0 50%;
        }
      }
    }
    h2 {
      margin-bottom: 32px;
    }
    .kontakty__item {
      p a {
        color: $red;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hp-akce__inner {
    margin-top: 20px;
  }

  &__odkazy {
    text-align: center;
    margin-bottom: 32px;
    border-bottom: 1px solid RGB(205, 205, 207);
    padding-bottom: 40px;
    h3 {
      margin-bottom: 24px;
    }
  }
  &__odkazy-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      padding: 0 4px;
      margin-bottom: 6px;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  h1,
  h2 {
    text-align: center;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    margin: 0 auto;
  }
  .clanek {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  .top-clanky__row {
    position: inherit;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
    justify-content: start;
  }
  .clanek__info {
    background-color: #fff;
    padding: 8px 3px 0px 1px;
    h3 {
      margin-bottom: 6px;
      color: $red;
      padding: 0;
      &::before,
      &::after {
        display: none;
      }
    }
    span {
      display: block;
      color: #000;
    }
  }
  .clanek:hover .clanek__info {
    background: #fff;
    h3 {
      text-decoration: underline;
    }
  }
  .clanek__img {
    opacity: 1;
    height: 272px;
    img {
      object-fit: cover;
    }
  }
}
//
// documents
.documents {
  margin-bottom: 40px;
  &__inner {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
  &__wrap {
    margin-bottom: 27px;
  }
  &__col {
    max-width: 33.333%;
    flex: 0 0 33.333%;
    padding: 0 20px;
    text-align: center;
    .select {
      margin: 0 auto 23px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }
}

.document {
  display: block;
  padding: 8px 0;
  border-top: 1px solid #cdcdcf;
  &:last-child {
    border-bottom: 1px solid #cdcdcf;
  }
  &:hover {
    p {
      text-decoration: underline;
    }
  }
  span {
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: left;
    display: block;
    padding: 0 28px;
  }
  &__title {
    display: flex;
    color: $red;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 5px;
    i {
      margin-right: 8px;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.571;
      text-align: left;
    }
  }
}
.hp-cast__odkazy-main {
  width: 100%;
  margin-bottom: 24px;
}

@media (max-width: 980px) {
  .hp-cast .top-clanky__row {
    width: auto;
  }
}
@media (max-width: 940px) {
  .hp-cast__kontakty-box {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .hp-cast__kontakty-box .kontakty__row .kontakty__item {
    max-width: 100%;
    flex: 100%;
  }
  .hp-cast {
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  .documents__inner {
    flex-wrap: wrap;
    max-width: 640px;
    margin: 0 auto;
  }
  .documents__col {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 820px) {
  .hp-cast .clanek {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 620px) {
  .hp-cast__kontakty-row {
    flex-wrap: wrap;
  }
  .hp-cast__kontakty-box {
    max-width: 100%;
    flex: 100%;
    .kontakty__row {
      margin: 0;
    }
  }
  .hp-cast .clanek {
    max-width: 100%;
    flex: 100%;
    a {
      width: 100%;
    }
  }
}
@media (max-width: 440px) {
  .documents__col {
    padding: 0;
  }
}
