.partneri-page {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 40px;

  &__wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 20px;
    margin-bottom: 40px;
    height: auto;
  }

  &__item {
    padding: 24px;
    box-shadow: 0px 2px 6px rgba(5, 6, 16, 0.07);
    border: 1px solid $gray;
    border-radius: 4px;
    height: 100%;
    img {
      width: 130px;
      height: auto;
      object-fit: contain;
      margin: 0 auto 24px;
    }
    p {
      margin-bottom: 24px;
      text-align: center;
      line-height: 1.5;
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 1080px) {
  .partneri-page__wrapper {
    max-width: 33.333%;
    flex: 0 0 33.333%;
  }
}

@media (max-width: 860px) {
  .partneri-page {
    margin-left: -10px;
    margin-right: -10px;
  }
  .partneri-page__wrapper {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .partneri-page__wrapper {
    max-width: 50%;
    flex: 0 0 50%;
    .link {
      min-width: 165px;
    }
  }
}
@media (max-width: 460px) {
  .partneri-page__wrapper {
    max-width: 100%;
    flex: 100%;
  }
}
