.reprezentace {
  .form__filtr {
    margin-bottom: 32px;
  }
  h2 {
    padding: 0;
    margin-bottom: 16px;
    font-size: 1.5rem;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
  }
  &__item {
    text-align: center;
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 20px;
    margin-bottom: 40px;
    h4 {
      color: $red;
      line-height: 1.5;
    }
    p {
      font-size: 0.75rem;
      line-height: 1.5;
    }
    .mfp-hide,
    a,
    .reprezentace__item--border {
      border: 1px solid $gray;
      padding: 24px;
      width: 100%;
      height: 100%;
      &:hover {
        h4 {
          text-decoration: underline;
        }
      }
    }
  }
  &__img {
    width: 146px;
    height: 146px;

    background: rgba($gray, 0.5);
    margin: 0 auto 16px;
    border-radius: 77.8667px 77.8667px 58.4px 58.4px;
    img {
      border-radius: 77.8667px 77.8667px 58.4px 58.4px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1100px) {
  .reprezentace__item {
    max-width: 33.333%;
    flex: 0 0 33.333%;
  }
}
@media (max-width: 840px) {
  .reprezentace__item {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 660px) {
  .reprezentace .form__filtr {
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
}
@media (max-width: 540px) {
  .reprezentace__item {
    max-width: 100%;
    flex: 100%;
  }
  .form__filtr {
    flex-wrap: wrap;
    .jq-selectbox {
      max-width: 100%;
    }
  }
}
