@import 'vars';
@import 'global';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'timer';
@import 'hp-cast';
@import 'archiv';
@import 'fotogalerie';
@import 'reprezentace';
@import 'article';
@import 'soutez';
@import 'zapas-page';
@import 'oddil';
@import 'akce';
@import 'akce-detail';
@import 'hrac';
@import 'druzstvo';
@import 'tv';
@import 'dark-mod';
@import 'tv-prehled';
@import 'partneri-page';
@import 'sin-slavy';
@import 'popup';
@import 'new-akce';
@import 'formular';
@import 'nastaveni';
@import 'search';
@import 'vyhledavani';
@import 'kontakty';
@import 'zebricky';
:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
img.mfp-img {
  padding-top: 0 !important;
}
.select {
  line-height: 1.1;
  font-family: inherit;
  font-size: 0.875rem;
  border: 1px solid #cdcdcf;
  background-color: #fff;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.4rem 1.4rem 0.4rem 0.8rem;
  max-width: 260px;
  width: 100%;
  min-width: 220px;
  box-sizing: border-box;
  margin: 0 4px;
  height: 40px;
  outline: none;
  // background: linear-gradient(180deg, #f2f2f3 0%, #e6e6e7 100%);
  background-image: url('../images/svg/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 1.2rem center;
  background-size: 6px 10px;
  transition: 0.3s all linear;
}

.select::-ms-expand {
  display: none;
}

.content-box {
  .main__header {
    .vyhledavani__form {
      flex-wrap: wrap;
      margin-left: -12px !important;
      margin-right: -12px !important;
      input,
      select {
        max-width: 220px;
        margin-right: 12px !important;
        margin-left: 12px !important;
        margin-bottom: 12px !important;
      }
      input[type='submit'] {
        max-width: 192px !important;
      }
    }
  }
}
@media (max-width: 1040px) {
  .content-box {
    .main__header {
      .vyhledavani__form {
        margin: 0 !important;
        max-width: 480px;
        input,
        select {
          max-width: 100% !important;
          width: 100% !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          margin-top: 8px !important;
        }
        input[type='submit'] {
          max-width: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .content-box {
    .main__header {
      .vyhledavani__form {
        max-width: 100%;
      }
    }
  }
  form {
    .select {
      margin: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: 16px;
    }
  }
}
